header {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background: -webkit-linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background: -moz-linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}
h1 {
    color: white;
    font-size: 70px;
}
h2 {
    color: whitesmoke;
    font-size: 30px;
}
a {
    color: white;
}
ul {
    color:white;
}
li {
    color: white;
    font-size: 50px;
    display: inline;
}