/* Body */
body {
    background-color: whitesmoke;
}

/* Navigation Bar */
.navbar {
    font-size: 16px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.navbar a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    text-decoration: none;
    cursor: pointer;
}
.navbar a:hover {
    border-left-width: 1px;
    border-left-style: dotted;
    border-right-width: 1px;
    border-right-style: dotted;
}

.header {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background: -webkit-linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background: -moz-linear-gradient(bottom, rgba(153, 94, 179, 1), rgba(0, 111, 89, 1));
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin: 0px 200px 0px 0px;
    border: 2px solid black;
}

.caption {
    text-align: center;
    margin: 0px 0px 900px 0px;

}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 70px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    font-size: 30px;
}

a {
    color: white;
}

.About_Me {
    background-color: gray;
}

.Extracurriculars {
    background-color: gray;
}

p {
    color: white;
}